<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Brello</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body id="lists-body">
        <% const initials = userName.toUpperCase().split(" "); %>
        <div id="header">
            <i class="fas fa-home hidden" id="linktohome"></i>
            <div id="boards-btn">Boards</div>
            <input type="text" id="searchbar">
            <i class="fas fa-search" id="search-icon"></i>
            <h3>Brello</h3>
            <i class="fas fa-bell" id="notifications-btn"></i>
            <div class="user-icon" id="header-user-icon"><%=initials[0][0] + initials[1][0]%></div>
        </div>
        <div id="match-area" class="hidden">
            <div id="board-matches" class="hidden">
                <h3>Boards</h3>
            </div>
            <div id="card-matches" class="hidden">
                <h3>Cards</h3>
            </div>
        </div>
        <div id="notifications-popup" class="hidden">
            <!--<h4 id="no-notifications">No new notifications</h4>-->
        </div>
        <div id="list-page">
            <div id="board-popup" class="hidden"></div>
            <div id="card-modal-container" class="hidden">
                <div id="card-modal">
                    <i class="fas fa-times" id="close-card-modal"></i>
                    <i class="fas fa-window-maximize"></i>
                    <h3 id="card-modal-name">name goes here</h3>
                    <p id="modal-list-p">in list <span id="modal-list-name">name</span></p>
                    <i class="fas fa-bars"></i>
                    <h4 class="modal-small-header">Description</h4><br>
                    <textarea id="modal-description-entry" placeholder="Add a more detailed description..." rows="5" cols="75"></textarea>
                    <p id="modal-description" class="hidden"></p><br>
                    <button class="btn btn-not-ready" id="modal-save-desc-btn">Save</button><br>
                    <i class="fas fa-tags"></i><h4 class="modal-small-header">Labels</h4><br>
                    <div id="label-container">
                        <div contenteditable="true" id="label-entry"></div>
                    </div>
                    <i class="far fa-comment"></i>
                    <h4 class="modal-small-header">Add Comment</h4><br>
                    <div class="user-icon modal-user-icon"><%=initials[0][0] + initials[1][0]%></div>
                    <textarea id="modal-comment-entry" placeholder="Write a comment..." rows="5" cols="70"></textarea><br>
                    <button class="btn" id="modal-save-comment-btn">Save</button><br>
                    <i class="fas fa-list-ul"></i>
                    <h4 class="modal-small-header">Activity</h4>
                    <ul id="modal-comments">
                    </ul>
                </div>
            </div>
            <div id="list-list" data-board-id=<%=board_id%>>
                <div id="lists-container">
                    <% lists.forEach(function(list) { %>
                         <div class="list" data-id=<%=list.id%>> 
                              <h6 class="list-title draggable"><%=list.name%></h6>
                              <input class="list-title-input hidden" type="text">
                            <% list.cards.forEach(function(card) { %>
                                    <div class="card draggable" data-id=<%=card.id%>><%=card.name%></div>
                            <% }); %> 
                            <div class="add-card">+ Add a card</div>
                             <div class="add-card-template hidden"> 
                                 <textarea class="card-entry" rows="4" cols="50" placeholder="Enter a title for this card..."></textarea>
                                 <button class="btn add-card-btn">Add Card</button> <i class="fas fa-times close-template"></i>
                             </div> 
                          </div> 
                    <% }); %>
                </div>
                <div id="add-list"><p id="add-list-p">+ Add a list</p></div>
                <div id="add-list-template" class="hidden">
                    <form id="add-list-form" autocomplete="off">
                        <input id="list-entry" type="text" placeholder="Enter list title"><br>
                        <button class="btn" id="add-list-btn">Add List</button> <i class="fas fa-times" id="close-list-template"></i>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.7/lib/draggable.bundle.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const id = <%=userId%>
        </script>
        <script src="/javascripts/socket.js"></script>
        <script src="/javascripts/header.js"></script>
        <script src="/javascripts/lists.js"></script>
    </body>
</html>